@import './transition.scss';
@import './element-ui.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.app-container {
  width: 100%;
  height: 100%;
}

.search-tools {
  text-align: right;
  padding-bottom: 20px;
}

.el-select-dropdown__wrap {
  margin-bottom: 0px !important;
}

.page {
  padding: 15px;
  background-color: #fff;

  .page-search {

  }

  .page-tools {

  }

  .page-table {

  }

  .page-form {

  }

  .page-footer {

  }
}

.searchBox {
  padding: 15px;
  background-color: #fff;
}

.contentBox {
  padding: 15px;
  margin-top: 15px;
  background-color: #fff;
}

.bigBox {
  background-color: #f0f2f5;
}

.input-with-select .el-input-group__prepend {
  background-color: #fff;
}

.input-with-select .el-input-group__append {
  background-color: #409EFF;
  color: #fff;
}

.input-with-select .el-input__inner {
  height: 30px;
}

